.aboutMe {
  display: grid;
  grid-template-columns: 70% 20%;
  column-gap: 50px;
}

@media only screen and (max-width: 1150px) {
  .aboutMe {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
  }
}
